# Python Environment
venv/
env/
__pycache__/
*.py[cod]
*$py.class

# Databases (Local data we don't want to overwrite in the cloud)
*.db
*.sqlite3

# Environment Variables (Keep your API Keys secret!)
.env

# IDE Settings
.vscode/
.idea/

# OS Specific
.DS_Store
Thumbs.db
